* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
}

.debug {
  border: 1px solid black;
}

.container {
  width: 98%;
  max-width: 1400px;
  margin: 0 auto;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* HEADER */

header {
  background-color: #255EE9;
  /* CANCELLA L'ALTEZZA E BORDER */
  height: 80px; 
  border: 1px solid black;
}

header .top-bar {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.top-bar .logo-top img {
  vertical-align: middle;
}

.top-bar ul li {
  list-style: none;
  padding: 0 15px;
  color: white;
}

.button {
  padding: 7px 11px;
  border-radius: 15px;
  background-color: white;
}


.top-bar .nav a:hover {
  color: white;
  text-decoration: underline;
}

.top-bar .nav a:visited {
  color: white;
}

/* MAIN */

main .main-top {
  color: white;
  text-align: center;
  padding-top: 100px;
  height: 400px;
  background-color: blue;
  border: 1px solid black;
}

main .main-top h1 {
  padding-bottom: 20px;
  font-size: 2.2rem;
}

main .main-top p {
  line-height: 2;
}

main .main-top .download {
  justify-content: space-around;
}

.main-top ul li {
  padding-top: 10px;
  width: 100%;
}

.info-box {
  width: 100%;
  /* height: 400px; */
  background-color: cyan;
  border: 1px solid black;
  /* flex-grow: 1; */
}

.info-section {
  padding: 40px 0;
  align-items: center;
}

.info-box .img-box {
  width: 200px;
  height: 200px;
  background-color: red;
}

.info-box .text-box {
  padding-left: 50px;
}

.main-center {
  flex-direction: column;
}

.info-box .special {
  flex-direction: column-reverse;
  align-items: center;
}

.main-center .info-box:nth-child(even) .info-section {
  flex-direction: row-reverse;
}