* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.debug {
  border: 3px solid black;
}

.debug-box > div {
  background-color: rgba(255, 0, 0, 0,2);
  border: 1px solid black;
}

.container {
  width: 98%;
  max-width: 1400px;
  margin: 0 auto;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* HEADER */

header {
  background-color: #255EE9;
  /* CANCELLA L'ALTEZZA E BORDER */
  height: 80px; 
}

header .top-bar {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.top-bar .logo-top img {
  vertical-align: middle;
}

.top-bar ul li {
  padding: 0 25px;
  color: white;
}

.button {
  padding: 7px 11px;
  border-radius: 20px;
  background-color: white;
}

.button.small {
  font-size: 0.8rem;
}

.button a {
  color: black;

}


.top-bar .nav a:hover {
  color: white;
  text-decoration: underline;
}

.top-bar .nav a:visited {
  color: white;
}

/* JUMBOTRON */

.jumbotron {
  padding: 50px 0;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.jumbotron .container {
  width: 40%;
}

.jumbotron h1 {
  padding-bottom: 20px;
  font-size: 2.2rem;
}

.jumbotron p {
  line-height: 2;
}

.download {
  justify-content: center;
}

.jumbotron ul li {
  padding: 10px;
}

.button.big-btn {
  display: inline-block;
  padding: 10px 20px;
}

#link-web-app {
  background-color: #23272A;
}

#link-web-app a {
  color: white;
}

/* MAIN */

/* .info-box {

} */

.info-section {
  padding: 40px 0;
  /* align-items: center;
  justify-content: center; */
}

.info-box .img-box {
  width: 60%;
  padding-left: 100px;
  
}

.info-box .img-box img{
  width: 50%;
}

.info-box .text-box {
  width: 40%;
  height: 100%;
  padding-right: 325px;
}

.main-center {
  flex-direction: column;
}

.info-box .special {
  flex-direction: column;
  align-items: center;
}


.main-center .info-box:nth-child(even){
  background-color: #F6F6F6;;
}

.main-center .info-box:nth-child(even) .info-section {
  flex-direction: row-reverse;
}

.special .text-box {
  text-align: center;
  width: 100%;
  padding-right: 0;
}

.special .img-box {
  padding: 0;
}

.special .img-box img {
  width: 100%;  
}

.cta {
  padding: 50px 0;
} 

#main-download {
  background-color: #7289DA;
}